@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: neon;
  src: url(fonts/neon_pixel-7.ttf);
}

/*

#270245 dark purple
#871A85 purple
#FF2941 soft red
#FEFF38 yellow
#FE18D3 pink
#4206F1 blue/purple
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
 background-color: #101010;
}

header {
  height: 100vh;
  background-image: url("img/background3.jpg");
  background-attachment: fixed;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#logo {
  z-index: 100000;
  position: fixed;
  top: 6%;
  left: 4%;
}

#logo img {
  width: 80px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 62.5%;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  min-height: 100%;
  position: relative;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu_overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  color: #fff;
  z-index: 100;
  transform: translateX(110%);
  transition: transform 0.5s ease;
}

.menu_overlay .fas {
  position: absolute;
  right: 6%;
  top: 6%;
  font-size: 2.5rem;
  transition: all 0.3s ease;
  z-index: 100;
}
.menu_overlay .fas:hover {
  color: #871A85;
  transform: scale(1.1) rotate(180deg);
}

.side {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 10;
}

.side1 {
  height: 100%;
  right: 0;
  background: #FEFF38;
  background: -webkit-linear-gradient(to right, #871A85, #FEFF38 );
  background: linear-gradient(to right, #871A85, #FEFF38 );
}

.side2 {
  background-color: #871A85;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.menu_overlay ul {
  font-family: neon;
  height: 100%;
  width: 100%;
  list-style: none;
  padding: 20px;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  color: #111;
}

.menu_overlay a {
  width: 100%;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.menu_overlay a:hover {
  color: #871A85;
}

#menuBtn {
  display: none;
}

.landing_page {
  max-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
}

.menu {
  position: absolute;
  right: 6%;
  top: 6%;
}

.fas {
  font-size: 2.8rem;
  color: #FFF;
}

.fas:hover {
  color: #FEFF38;
}

.side_text {
  height: 10vh;
  width: 60%;
  color: #FEFF38;
  position: absolute;
  left: 0px;
  bottom: 20px;
  text-shadow: 0 0 1px #111;
  padding: 10px;
  font-size: 16px;
  color: #871A85;
}

.main_text {
  color: #FEFF38;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 1px #111;
  display: flex;
  flex-direction: column;
}

.h2-r,
.h2-l {
  font-size: 6rem;
}

.h2-r {
  transform: rotate(270deg);
  margin-left: -100px;
  z-index: 10;
}

.h2-l {
  margin-left: 100px;
  background-color: #871A85;
  padding: 20px;
  z-index: 0;
}
.consoleList {
  height: 100vh;
}
.consoleList h2 {
  font-family: neon;
  font-size: 3rem;
  color: #FEFF38;
  display: block;
  width: 100%;
  text-align: center;
}
#consoleNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
#consoleNav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}
#consoleNav ul li {
  padding: 10px;
 margin: 20px;  
}
#consoleNav li:hover {
  background-color: #871A85;
  transition: transform 0.5s ease-in-out;
}
#consoleNav img 
{
  width: 200px;
}


.wrapper {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto 0;
  width: 100%;
}
/*.neon-wrapper {
  box-shadow:
  0 0 0.1vw  0.4vw #fff7f7,   
  0 0 0.4vw  0.6vw #FE18D3, 
  0 0   4vw  0.4vw #270245,

  inset 0 0 1.5vw  0.4vw #270245,
  inset 0 0 0.4vw  0.2vw #FE18D3,
  inset 0 0 0.5vw  0.2vw #fff7f7;
  border-radius: 1.5rem;
}*/
.neon-text {
  font-family: neon;
  font-size: 5rem;
  color: #fff7f7;
  padding: 0 3.5rem 0 3.5rem;
  text-shadow: 
  .1vw 0vw .25vw #fff7f7, .2vw 0vw .25vw #fff7f7, .4vw 0vw .25vw #fff7f7, 

  .1vw 0vw   0vw #FE18D3, .2vw 0vw   0vw #FE18D3, .4vw 0vw   0vw #FE18D3,
  .1vw 0vw  .1vw #FE18D3, .2vw 0vw  .1vw #FE18D3, .4vw 0vw  .1vw #FE18D3,
  .1vw 0vw   2vw #FE18D3, .2vw 0vw   2vw #FE18D3, .4vw 0vw   2vw #FE18D3, 

  .1vw 0vw   1vw #270245, .2vw 0vw   1vw #270245, .4vw 0vw   5vw #270245, 
  .1vw 0vw   5vw #270245, .2vw 0vw  20vw #270245, .4vw 0vw  10vw #270245,
  .1vw 0vw  10vw #270245, .2vw 0vw  30vw #270245, .4vw 0vw  10vw #270245;;
}
.wrapper span {
  text-align: center;
  display: block;
  color: #fff7f7;
  font-family: neon;
  font-size: 1.5rem;
}

.videoFade {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  padding: 100px;
}

.videoFade video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}

.videoFade h2 {
  position: relative;
  color: #270245;
  font-size: 3em;
}

.videoFade p {
  position: relative;
  color: #270245;
  font-size: 1.2em;
}


#welcomingMessage {
  font-size: 1.5rem;
  color: #FFF;
  font-family: neon;
  position: absolute;
  bottom: 15px;
  right: 15px;
}


#subtitle::after {
  content: '|';
  margin-left: 5px;
  animation: blink 0.7s infinite;
}

#form {
  display: flex;
  justify-content: space-around;
}
#form input {
  margin: 5px;
}

#catalog .col .card {
  width: 14rem !important;
}
.gameList h2 {
  font-family: neon;
  color:#FEFF38;
  font-size: 3rem;
  text-align: center;
  display: block;
}
.gameList {
  width: 100vw;
  height: 100vh;
}
#gameList {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 50px;
}

@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}




@media (max-width: 991px) {
  .banner {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .list a {
    font-size: 2rem;
  }
}




