@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: neon;
  src: url(fonts/neon_pixel-7.ttf);
}

/*

#270245 dark purple
#871A85 purple
#FF2941 soft red
#FEFF38 yellow
#FE18D3 pink
#4206F1 blue/purple
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #101010;
  background-image: url("img/background2.jpg");
  background-attachment: fixed;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.swal2-container {
  z-index: 2000000;
  font-family: 'arial';
}

nav {
  margin-top: 100px;
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding-top: 150px;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "arial";
  text-transform:uppercase;
  color: white;
  font-size: 2.5em;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: #871A85;
  ;
}

header {
  height: 100vh;
}
#logo {
  z-index: 100000;
  position: fixed;
  top: 5%;
  left: 4%;
}

#logo img {
  width: 100px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 62.5%;
  overflow-x: hidden;
}

.wrapper {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto 0;
  width: 100%;
}

.neon-text {
  font-family: neon;
  font-size: 5rem;
  color: #fff7f7;
  padding: 0 3.5rem 0 3.5rem;
  text-shadow: 
  .1vw 0vw .25vw #fff7f7, .2vw 0vw .25vw #fff7f7, .4vw 0vw .25vw #fff7f7, 

  .1vw 0vw   0vw #FE18D3, .2vw 0vw   0vw #FE18D3, .4vw 0vw   0vw #FE18D3,
  .1vw 0vw  .1vw #FE18D3, .2vw 0vw  .1vw #FE18D3, .4vw 0vw  .1vw #FE18D3,
  .1vw 0vw   2vw #FE18D3, .2vw 0vw   2vw #FE18D3, .4vw 0vw   2vw #FE18D3, 

  .1vw 0vw   1vw #270245, .2vw 0vw   1vw #270245, .4vw 0vw   5vw #270245, 
  .1vw 0vw   5vw #270245, .2vw 0vw  20vw #270245, .4vw 0vw  10vw #270245,
  .1vw 0vw  10vw #270245, .2vw 0vw  30vw #270245, .4vw 0vw  10vw #270245;
}
.wrapper span {
  text-align: center;
  display: block;
  color: #fff7f7;
  font-family: neon;
  font-size: 1.5rem;
}


.searchBox {
  display: flex;
  margin: auto 0;
  justify-content: center;
  z-index: 1000000;
  position: absolute;
  width: 100%;
  text-align: center;
  height: 50px;
}
#gameSearchInput {
  height: 100%;
  width: 30%;
  font-size: 3em;
  font-family: 'neon';
  cursor: text;
}
#searchBtn {
  height: 100%;
  font-size: 3em;
  font-family: 'arial';
  padding-left: 5px;
  padding-right: 5px;
}

#videoFade {
  position: relative;
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 100px;
}

#videoFade video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}

#videoFade h2 {
  position: relative;
  color: #270245;
  font-size: 3em;
}

#videoFade p {
  position: relative;
  color: #270245;
  font-size: 1.2em;
}


#welcomingMessage {
  font-size: 1.5rem;
  color: #FFF;
  font-family: neon;
  position: absolute;
  bottom: 15px;
  right: 15px;
}


#subtitle::after {
  content: '|';
  margin-left: 5px;
  animation: blink 0.7s infinite;
}

.gameSearch{
  min-height: auto;
width: auto;
padding: 50px;
margin: 50px 20px 50px 20px;
}

.news {
  min-height: 100vh;
  width: auto;
  padding: 50px;
  margin: 50px 20px 50px 20px;
}
#latestNews, #result {
  width: 100%;
  padding-top: 50px;
}
#newsList, #gameSearchResult {
  padding: 100px;
}
#newsList .card, #gameSearchResult .card {
  border: 1px solid #FEFF38;
  margin-bottom: 20px;
  background: black;
  color: #FFF;
}
#newsList .card-title, #gameSearchResult .card-title {
  font-size: 1.6rem;
  font-family: 'arial' ;
}
#newsList .card-text, #gameSearchResult .card-text {
  font-size: 1rem;
  font-family: 'arial';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
}

#newsList a, #gameSearchResult a {
  background-color: #FEFF38;
  font-family: 'arial';
  border: none;
  color: #2a2a2a;
}
.news button {
  display: block;
  border: none;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFF;
  color: #871A85;
  font-size: 4em;
  text-align: center;
  padding: 10px;
  font-family: 'neon';
  box-shadow: 
  0 0 7px #fff, 
               0 0 10px #fff, 
               0 0 42px #FE18D3,   
               0 0 77px #FE18D3, 
               0 0 100px #FE18D3;
}

#bubbleText {
  position: absolute;
  cursor: pointer;
  bottom: 50px;
  left: 50px;
}
#jimBubble img {
    width: 200px;
 
}

#bubbleTip {
  display: none;
}
  .speech-bubble {
    background: #ddd;
    width: 500px;
    color: #333;
    display: inline-block;
    font-size: 14px;
    line-height: 2em;
    bottom: 80px;
    right: 120px;
    padding: 0 1em;
    position: relative;
    text-align: center;
    vertical-align: top;
      min-width: 7em;
  }
  .speech-bubble:after {
    border: 1em solid transparent;
    border-top-color: #ddd;
    content: '';
    margin-left: -1em;
    position: absolute;
      top: 100%;
      left: 20%;
    width: 0;
    height: 0;
  }
  
  .speech-bubble.large {
    font-family: 'arial';
    font-size: 1.6em;
    padding: 0 1em;
      min-width: 4em;
  }
  
  .speech-bubble.rounded {
    border-radius: .4em;
  }
  
  .speech-bubble.blue {
    background: #ddf;
    color: #334;
  }
  .speech-bubble.blue:after {
    border-top-color: #ddf;
  }

@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


@media (max-width: 991px) {
  .banner {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .list a {
    font-size: 2rem;
  }
}




